body {
    font-family: 'Merriweather', serif;
    color: green;
    background-image: url("../images/leaves2.jpg");
    background: cover;
}

.container {
    margin-top: 40px;
    border: solid;
    border-color: darkslategray;
    background-color: lightgrey;
}

#displayDetails {
    text-align: center;
    margin: 10px;
}
button {
    background-color: white;
    margin: 10px;
}

h1 {
    text-decoration: underline;
    padding: 10px 20px;
    text-align: center;
}

.instructionBox {
    border: dotted;
    border-color: darkslategray;
    padding: 10px;
    margin: 10px;
}

h2 {
    padding: 0px 20px;
}

h4 {
    padding: 0px 20px;
}

#instructionDetails {
    padding: 0px 20px;
    text-align: justify;
}

#animalDisplayLabels {
    text-align: center;
}